body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    background-color: white;
    padding: 20px;
}
header{
    height: 50px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
h1{
    color: black;
    font-size: 36px;
    margin: 0;
    padding: 20px 0;
}

.nav>a{
    color: #0000ff;
    margin: 0 10px;
    text-decoration: none;
    margin-top: 10px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    background-color: white;
    color: #fff;
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
   

}
.card>img{
    max-width: 100%;
    height: auto;
}

.card>h2{
    color: black;
}
.card>p{
    font-size: 14px;
}
p{
    color: black;
}


